<html ng-app="app.todos">
  <head>
    <title>Node/Angular Todos</title>

    <link rel="stylesheet" href="assets/angular-xeditable/xeditable.min.css" />
    <link rel="stylesheet" href="assets/awesome6.4.0/css/all.css" />
    <script
      type="text/javascript"
      src="assets/jquery/jquery-3.6.3.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="assets/bootstrap-3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/bootstrap_icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <script
      type="text/javascript"
      src="assets/bootstrap-3.4.1/js/bootstrap.min.js"
    ></script>

    <!-- load cdn scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="assets/angular-xeditable/xeditable.min.js"></script>
    <!-- Ở trên ta xóa schema https: đi để cho nó chạy đường link http: -->

    <!-- load app -->
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/svTodos.js"></script>
  </head>
  <body ng-controller="todoController">
    <div class="container">
      <div class="jumbotron text-center">
        <h1>
          {{ appName }} <span class="label label-info">{{ todos.length }}</span>
        </h1>
      </div>

      <div id="todo-list" class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div
            class="checkbox"
            ng-repeat="todo in todos"
            style="font-size: 22px; margin-bottom: 20px"
          >
            <input
              type="checkbox"
              ng-model="todo.isDone"
              ng-change="updateTodo(todo)"
              style="width: 30px; height: 30px"
            />&nbsp;&nbsp;&nbsp;&nbsp;
            <a href ng-hide="textBtnForm.$visible"
              ><i class="fa fa-remove" ng-click="deleteTodo(todo)"></i></a
            >&nbsp;&nbsp;&nbsp;
            <a
              href
              ng-click="textBtnForm.$show()"
              ng-hide="textBtnForm.$visible"
              ><i class="fa fa-edit"></i
            ></a>
            <span
              ng-class="{ strike: todo.isDone }"
              editable-text="todo.text"
              e-form="textBtnForm"
              onaftersave="updateTodo(todo)"
            >
              {{ todo.text }}</span
            >
          </div>
          <p class="text-center" ng-show="loading">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
          </p>
        </div>
      </div>

      <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control input-lg text-center"
                placeholder="What do you want to do ?"
                ng-model="formData.text"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              ng-click="createTodo()"
              ng-disabled="!formData.text"
            >
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
